<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ManagerLogin</title>
</head>
<body>
    <label>MANAGER USERNAME</label><br>
    <input name="username" type="text" id="usernameInput" placeholder="write you username"><br>
    <label>PASSWORD</label><br>
    <input name="password" type="password" id="passwordInput" placeholder="write your password"><br>
    <button id="loginButton" onclick="login()">login</button>
    <script src="../templates/js/manager_login.js"></script>
</body>
</html>